.outletMain {
  align-items: center;
  background-color: #f2f2f2;
  padding: 2% 10%;
  margin: 10px 0px;
  border: 1px solid #e0dfda;
  z-index: -3;
  .formName {
    width: 100%;
    background-color: rgb(90, 98, 212);
    color: white;
    padding: 7px 5px;
    margin: 8px 0;
    border: none;
    z-index: 1;
    text-align: center;
    font-size: medium;
  }
  .myForm {
    background-color: #ffffff;
    padding: 2% 10%;
    border: 1px solid #e0dfda;
    border-radius: 3px;
    .resItem {
      margin-bottom: -10px;
    }
    .resText {
      font-weight: bold;
      margin-left: 20px;
    }
  }
  .btnSubmit {
    background: #f4d03f;
    height: 30px;
    padding: 0 20px;
    float: right;
    opacity: 1;
  }
  .titlePart {
    font-weight: bold;
    color: rgb(90, 98, 212);
    margin-bottom: -10px;
    margin-top: 20px;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 40px !important;
  }
}
