.commom {
    background-color: #757272;
    min-height: 100%;
    margin: 0 auto;
    .background {
        background-color: white;
        box-shadow: 2px 5px 5px black;
        min-height: 100%;
        margin: 0 auto;
    }
}
